<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Protein Synthesis Group</title>
    <link href="/css/webflow-style.css" rel="stylesheet" />
  </head>

  <body class="body">
    <div class="section-dark">
      <div class="wrap _w-custom nav1-dark">
        <div class="nav1 w-nav">
          <div class="nav1-wrap">
            <div class="nav1-logo-wrapper">
              <a href="/" class="link-block-13 w-inline-block w--current">
                <div class="text-16">GRUIĆ-SOVULJ LAB <br />PROTEIN SYNTHESIS GROUP</div>
              </a>
            </div>
            <nav class="nav1-menu-wrapper-dark w-nav-menu">
              <a href="/people.html" class="link-dark navigation1-link-dark">People</a>
              <a href="/research.html" class="link-dark navigation1-link-dark">Research</a>
              <a href="/publications.html" class="link-dark navigation1-link-dark">Publications</a>
              <a href="/contact.html" class="link-dark navigation1-link-dark">Contact</a>
            </nav>
            <div class="nav1-menu-btn w-nav-button">
              <img src="images/menu-icon-402x.png" alt="" class="nav1-menu-icon" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="section-2">
      <div class="div-block">
        <div class="div-block-3">
          <h1 class="heading">Welcome</h1>
          <div class="div-block-4"></div>
          <p class="paragraph">
            {{ welcome[0].data.welcome_text | markdown | safe }}
          </p>
        </div>
        <div class="div-block-2">
          <div class="slider w-slider">
            <div class="w-slider-mask">
              {% for slide in collections.slides %}
              <div class="slide w-slide" style="background-image: url('{{ slide.data.image }}'); background-size: cover;"></div>
              {% endfor %}
            </div>
            <div class="w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="section-2-copy">
      <div class="div-block-copy">
        <div class="div-block-3">
          <h2 class="heading-2">Research</h2>
          <p class="paragraph-2">[Research description]</p>
          <a href="/research" class="button w-button">Read more</a>
        </div>

        <div class="div-block-3-copy">
          <h2 class="heading-2">News</h2>
          {% for news in collections.news %}
          <div class="newselement">
            <div class="text-block">
              <div class="rich-text-content">{{ news.data.description | markdown | safe }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="section-dark-2">
      <div class="footer1 footer1-dark">
        <div class="wrap-2 w50-start">
          <div class="_5-col">
            <p>Division of Biochemistry, Faculty of Science, University of Zagreb</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
